 .u-section-1 {
  background-image: url("images/page.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  margin: 285px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1;
  margin: -4px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 303px;
}

.u-section-2 .u-group-elements-1 {
  width: 242px;
  min-height: 243px;
  height: auto;
  margin: 30px auto 30px 28px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 0 1px 0 0;
  padding: 10px 86px 10px 85px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 19px 4px 0 1px;
  padding: 10px 63px 10px 62px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 21px 0 0;
  padding: 9px 76px 11px 75px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 19px auto 0;
  padding: 9px 70px 11px 69px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 610px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.875rem;
  margin-top: 170px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 257px;
  margin-top: 30px;
  margin-bottom: 1px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 509px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 120px 0 0 auto;
  padding: 14px 50px 14px 48px;
}

.u-section-4 .u-text-1 {
  margin-top: -54px;
  margin-bottom: 0;
  line-height: 1.6;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 23px;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.875rem;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 879px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 21px;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1.875rem;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.875rem;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 33px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-top: 4px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -35px;
  }
} .u-section-5 {
  background-image: url("images/pub.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 693px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1045px;
  margin: 142px 0 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 144px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 210px;
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 5px;
}

.u-section-5 .u-text-2 {
  margin: 0 25px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 13px;
}

.u-section-5 .u-text-3 {
  margin: 5px 18px -37px 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 261px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 638px;
}

.u-section-6 .u-text-1 {
  margin-top: 54px;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.6;
}

.u-section-6 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  grid-gap: 15px 15px;
  min-height: 375px;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/psrchiveweb1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/archivetotxt1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/terminal1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 373px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 310px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 301px;
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: url("images/contact.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 672px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 954px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 672px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 136px auto 0;
}

.u-section-7 .u-list-1 {
  margin-bottom: 0;
  margin-top: 32px;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 256px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 10px 8px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  font-size: 1.2em;
  margin-right: 10px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 10px 8px;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  font-size: 1.2em;
  margin-right: 10px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 10px 8px;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-3 {
  font-size: 1.2em;
  margin-right: 10px;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 10px 8px;
}

.u-section-7 .u-btn-4 {
  border-style: none;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-4 {
  font-size: 1.2em;
  margin-right: 10px;
}

.u-section-7 .u-image-1 {
  min-height: 672px;
  background-image: url("images/me.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 8px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-7 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 391px;
  }
} .u-section-8 {
  background-image: url("images/IMG_4564copy.JPG");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 449px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 133px;
  }
}